.titulo {
	text-align: center;
	border: solid 5px cyan;
	background-color: cyan;
}

.texto {
	background-color: coral;
	text-align: justify;
	color: white;
	letter-spacing: 2px;
	word-spacing: 3px;
}

img {
	float: right;
	clear: right;
}

.cabecalho {
	background-color: pink;
	top: 0;
	text-align: center;
}

.rodape {
	background-color: green;
	bottom: 0;
    clear: both;
	text-align: center;
}